<!--The content below is only a placeholder and can be replaced.-->
<div fxFlexFill fxLayout="row" class="mat-typography">
  <div fxFlex="84" fxFlexOffset="8" fxFlexAlign="center">
    <mat-toolbar color="primary" fxLayout="row">
      <span class="toolbarItem"><a (click)="homeClick($event)">Главная</a></span>
      <span class="toolbarItem"><a (click)="faqClick($event)">Вопросы</a></span>
    </mat-toolbar>
    
  </div>
</div>


<div class="bounds">

  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <div fxFlex>
    </div>
    <div fxFlex="84">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex>
    </div>

  </div>

</div>
