<div class="heading">
  <h1>Задать вопрос</h1>
</div>

<div fxFlexFill fxLayout="row">
  <div fxFlex="70" fxFlexOffset="15" fxFlexAlign="center">
    <mat-card class="question-card" *ngFor="let question of questions">
      <mat-card-header>

        <mat-card-title>{{question.subject}}</mat-card-title>
        <mat-card-subtitle>
            <div fxFlexFill fxLayout="row" class="fullWidth">
              <div fxFlexAlign="left">
                  <span>Категория: {{question.category.name}}</span>
                  <br/>
                  <span>Автор: {{question.questionerName}}</span>
              </div>
              <div fxFlex></div>
              <div fxFlexAlign="right">
                  <span>Отправлено: {{question.createdAt.format("DD.MM.YYYY HH:mm")}}</span>
              </div>
            </div>
          
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{question.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div fxFlexFill fxLayout="row">
          <div>
            <button mat-button>
              <mat-icon>favorite_border</mat-icon>
              <span>Нравится ({{question.likesCount}})</span>
            </button>
            <button mat-button>
              <mat-icon>sentiment_very_dissatisfied</mat-icon>
              <span>Не нравится ({{question.dislikesCount}})</span>
            </button>
          </div>
          <div fxFlex></div>
          <div fxFlexAlign="right">
            <button mat-button>
              <mat-icon>reply</mat-icon>
              <span>Ответить</span>
            </button>
          </div>
        </div>

      </mat-card-actions>
    </mat-card>
  </div>
</div>